*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'regular', sans-serif;
}

.hover-underline:hover{
    text-decoration: underline;
}
.font16{
    font-size: 16px;
}

.color-brand{
    color:#FDFACF;
}

.border-radius-fff{
    border: 2px solid #FFFFFF;
}
.container-center{
    width: 1100px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: #001F3E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hd-container1-bg{
    background-color: #001F3E;
    height: 70px;
    width: 100%;
    
}
.hd-container2-bg{
    background-color: #FDFACF;
    height: 35px;
    width: 100%;
}

.hd-container1-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hd-logo{
    height: 60px;
    width: 168px;
}

.hd-logo>img{
    height: 100%;
    width: 100%;
}

.hd-search{
    width: 640px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;

}
.hd-search>input{
    width: 600px;
    height: 35px;
    font-size: 18px;
    border-radius: 30px;
    padding-left: 20px;
    border: none;
}
.hd-search>input:focus{
    outline: none;
}
.hd-search-icon{
    width: 25px;
    height: 25px;
    margin: 5px 15px;
}
.hd-search-icon>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.hd-container-icon{
    width: 130px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.hd-icon{
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.hd-icon>img{
    width: 100%;
    height: 100%;
}

.hd-container2-content{
    height: 40px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

.hd-a-cate{
    padding: 10px;
}

.hd-container2-content > a {
    text-decoration: none;
}

.hd-categories{
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    padding: 5px 0;
}

.hd-categories > p{
    font-weight: bold;
    font-size: 14px;
    color: #001F3E;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hd-categories::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #001F3E;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.hd-container2-content > a:hover .hd-categories::after {
    width: 100%;
}

.hd-container2-content > a:hover .hd-categories > p {
    color: #001F3E;
}

/* footer------------------------------------------- */

footer{
    width: 100%;
    height: 764px;
    background-color: #001F3E;
    margin-top: 100px;
}

.footer-content{
    display: flex;
    gap: 20px;
}
.ft-col{
    margin-top: 100px;
    width: 420px;
    min-height: 100px;
}
.ft-sec-logo{
    width: 300px;
    height: 107px;
    
}
.ft-sec-logo>img{
    width: 100%;
    height: 100%;
}

.ft-sec-1{
    margin-top: 50px;
    font-size: 14px;
}

.ft-sec1-box1{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.ft-sec1-box1>img{
    width: 25px;
    height: 25px;
}

.ft-sec-2{
    margin-top: 50px;
    font-size: 14px;
}

.ft-sec2-container-icon{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.ft-sec2-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ft-sec2-icon>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.ft-nocopy{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ft-container-sec3{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;

}
.ft-container-sec3>a{
    text-decoration: none;
    color: #FDFACF;
    font-size: 14px;
    margin-left: 40px;
}

.ft-sec4-tittle{
    margin-top: 89px;
    
}
.ft-sec5-tittle{
    margin-top: 125px;
}
.ft-input-email{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    border: none;
}
