.badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #bc6c25;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.price {
    color: #bc6c25;
    font-weight: 600;
    margin: 10px 0;
}

.add-to-cart {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart:hover {
    background: #555;
}

/* Footer */
footer {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}